@import "~admin-panel-nextro/css/style.css";
@import "~admin-panel-nextro/css/customizer.css";
@import "~admin-panel-nextro/icons/boxicons.css";

// Import FilePond styles
@import '~filepond/dist/filepond.min.css';
// Import FilePond plugins
// Please note that you need to install these plugins separately

// Import image preview plugin styles
@import '~filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css';

.vs-button--icon{
    display:inline;
}

.vs-checkbox-label{
    padding: 0;
    padding-left:18px;
    margin:0;
}

.aut-bg-img .auth-content {
    padding: 50px 40px;
}
