//@import "~admin-panel-nextro/css/pro.min.css";
//@import "~admin-panel-nextro/css/feather.css";
//@import "~admin-panel-nextro/css/fontawsome.css";
@import "~admin-panel-nextro/css/style.css";
@import "~admin-panel-nextro/css/customizer.css";
@import "~admin-panel-nextro/icons/boxicons.css";

.vs-button--icon{
    display:inline;
}

.vs-checkbox-label{
    padding: 0;
    padding-left:18px;
    margin:0;
}
