//todo: without internet connection all fonts like empty square
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
@import "font.css";

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

//todo:include Styles
@import '~admin-panel/files/assets/js/bootstrap/css/bootstrap.min.css';
@import '~admin-panel/files/assets/icon/themify-icons/themify-icons.css';
@import '~admin-panel/files/assets/icon/icofont/css/icofont.css';
@import '~admin-panel/files/assets/icon/feather/css/feather.css';
@import "~admin-panel/files/assets/pages/prism/prism.css";
//todo:datatables
@import "~admin-panel/files/assets/js/datatables.net-bs4/css/dataTables.bootstrap4.min.css";
@import "~admin-panel/files/assets/pages/data-table/css/buttons.dataTables.min.css";
@import "~admin-panel/files/assets/js/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css";
@import "~admin-panel/files/assets/pages/data-table/extensions/buttons/css/buttons.dataTables.min.css";
@import '~admin-panel/files/assets/css/style.css';
@import '~admin-panel/files/assets/css/jquery.mCustomScrollbar.css';
//todo:select element tag
@import '~admin-panel/files/assets/js/select2/css/select2.min.css';
@import '~admin-panel/files/assets/js/bootstrap-multiselect/css/bootstrap-multiselect.css';
@import '~admin-panel/files/assets/js/multiselect/css/multi-select.css';
//todo:for input element
@import "~admin-panel/files/assets/pages/jquery.filer/css/jquery.filer.css";
@import "~admin-panel/files/assets/pages/jquery.filer/css/themes/jquery.filer-dragdropbox-theme.css";
//todo:course details
@import "~admin-panel/files/assets/js/jquery-bar-rating/css/bars-1to10.css";
@import "~admin-panel/files/assets/js/jquery-bar-rating/css/bars-horizontal.css";
@import "~admin-panel/files/assets/js/jquery-bar-rating/css/bars-movie.css";
@import "~admin-panel/files/assets/js/jquery-bar-rating/css/bars-pill.css";
@import "~admin-panel/files/assets/js/jquery-bar-rating/css/bars-reversed.css";
@import "~admin-panel/files/assets/js/jquery-bar-rating/css/bars-square.css";
@import "~admin-panel/files/assets/js/jquery-bar-rating/css/css-stars.css";
@import "~admin-panel/files/assets/js/slick-carousel/css/slick-theme.css";
@import "~admin-panel/files/assets/js/slick-carousel/css/slick.css";
@import "~admin-panel/files/assets/icon/themify-icons/themify-icons.css";
@import "~admin-panel/files/assets/icon/icofont/css/icofont.css";


//Additional overwrite Style
.pcoded .pcoded-header[header-theme="theme1"] {
    background: #16D39A;
    color: #fff;
}

.pcoded .pcoded-header[header-theme="theme1"] a {
    color: #fff;
}

.pcoded .pcoded-navbar .pcoded-navigatio-lavel[menu-title-theme="theme1"] {
    color: #16D39A !important;
}

.pcoded[theme-layout="vertical"] .pcoded-header {
    width: 100%;
    /* -webkit-box-shadow: 0 0 11px rgba(0,0,0,0.13); */
    /* box-shadow: 0 0 11px rgba(0,0,0,0.13); */
    z-index: 1029;
}

.pcoded .pcoded-header[header-theme="theme1"] .navbar-wrapper .header-search .main-search .input-group .input-group-addon {
    color: #fff;
}
.pcoded .pcoded-navbar .pcoded-navigatio-lavel[menu-title-theme="theme5"] {
    color: #16D39A !important;
}

.pcoded[theme-layout="vertical"] .pcoded-header {
    width: 100%;
    box-shadow: 0 0 0 rgba(0,0,0,0);
    z-index: 1029;
}

.pcoded .pcoded-navbar .pcoded-navigatio-lavel[menu-title-theme="theme1"] {
    color: #16D39A !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #01a9ac;
    border: 1px solid #01a9ac;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
    color:#fff;
}

.header-navbar .navbar-wrapper .header-search .main-search.open .input-group {
    background-color: #01a9ac;
}

.header-navbar .navbar-wrapper .header-search .main-search .input-group .form-control {
    color: #fff;
}

.jFiler-theme-default .jFiler-input-button {
    background-color: #01a9ac;
    background-image: none;
    color: #fff;
}

.jFiler-input-dragDrop {
    width: 100%;
}

.card.gallery-desc {
    overflow: hidden;
    border-radius: 0;
}
.pcoded .pcoded-navbar[active-item-theme="theme1"] .pcoded-item>li.pcoded-trigger>a:before, .pcoded .pcoded-navbar[active-item-theme="theme1"] .pcoded-item>li.active>a:before {
    border-left-color: #16d39a;
}

.pcoded[theme-layout="vertical"] .pcoded-navbar .pcoded-item>li>a .pcoded-mtext {
    font-weight: bold;
}

.pcoded[nav-type="st5"] .pcoded-item.pcoded-left-item>li:nth-child(1)>a>.pcoded-micon i {
    color: #f2ff28;
}

